.yellow-square {
    width: 100px;
    height: 100px;
    background-color: yellow;
    border: 5px solid green;
}

.yellow-circle {
    width: 100px;
    height: 100px;
    background-color: yellow;
    border: 5px solid green;
    border-radius: 50%;
}
